<ion-content>
  <div style="margin-top: 1rem; padding: 1rem;">
    <ion-card>
      <div
        style="background-color: #015557 !important; height: 5rem; display: flex; text-align: center; justify-content: center; color: #fff; ">
        <h1>
          Settings</h1>
      </div>
      
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>First Accordion
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            First Content
          </div>
          <div class="ion-padding" slot="content">
            First Content
          </div>
          <div class="ion-padding" slot="content">
            First Content
          </div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header" color="light">
            <ion-label>Second Accordion</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Second Content
          </div>
        </ion-accordion>
        <div
          style="background-color: #015557 !important; height: 3rem; display: flex; text-align: center; justify-content: center; color: #fff; ">
          <h5>
            Settings</h5>
        </div>
        <ion-accordion value="second1">
          <ion-item slot="header" color="light">
            <ion-label>Second Accordion</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Second Content
          </div>
        </ion-accordion>
        <ion-accordion value="second2">
          <ion-item slot="header" color="light">
            <ion-label>Second Accordion</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Second Content
          </div>
        </ion-accordion>
        <ion-accordion value="second3">
          <ion-item slot="header" color="light">
            <ion-label>Second Accordion</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Second Content
          </div>
        </ion-accordion>
        <div
          style="background-color: #015557 !important; height: 3rem; display: flex; text-align: center; justify-content: center; color: #fff; ">
          <h5>
            Settings</h5>
        </div>
        <ion-accordion value="second5">
          <ion-item slot="header" color="light">
            <ion-label>Second Accordion</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Second Content
          </div>
        </ion-accordion>
        <ion-accordion value="second6">
          <ion-item slot="header" color="light">
            <ion-label>Second Accordion</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Second Content
          </div>
        </ion-accordion>
        <ion-accordion value="second7">
          <ion-item slot="header" color="light">
            <ion-label>Second Accordion</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            Second Content
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
  </div>
</ion-content>