ion-text {
    color: #000b05;
}

ion-modal {
    --height: 100%;
    --border-radius: 30px;
    --box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

ion-button {
    --border-radius: 6rem;
    margin-top: 4rem;
    height: 3.5rem;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --padding-top: 22px;
    --padding-bottom: 22px;
}

ion-content {
    border-radius: 12px;
}

.wrap {
    margin-top: 0.5rem;
}

ion-label {
    font-weight: 700;
    color: #000b05;
    padding-left: 13px;
}

ion-icon {
    font-size: 30px;
    color: #545758b3;
}

p {
    padding: 8px 0;
}

.bottom {
    position: absolute;
    width: 90%;
    bottom: 20%;
}

.content {
    margin: auto;
}

@media (min-width: 500px) {
    .content {
        width: 500px;
    }
}

ion-checkbox {
    font-size: 0.5rem;
}

.ion-card1 {
    padding: 15px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}