<h1>hello</h1>
<ion-card style="margin-top:1.5rem;">
  <ion-segment (ionChange)="segmentChanged($event)" value="Login">
    <ion-segment-button value="Login">
      <ion-label>Login In</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Sign">
      <ion-label>Sign Up</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-card>
<div class="content">
  <div class="bottom">
    <ion-button id="open-that" (click)="isopen = !isopen" expand="block" *ngIf="!isopen">
      Sign in
    </ion-button>
  </div>
  <ion-modal [isOpen]="isopen" (ionModalDidDismiss)="isopen = !isopen" show-backdrop="false" trigger="login-modal1"
    [initialBreakpoint]="0.75">
    <ng-template>
      <div>
        <ion-card style="margin-top:1.5rem;">
          <ion-segment (ionChange)="segmentChanged($event)" value="Login">
            <ion-segment-button value="Login">
              <ion-label>Login In</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Sign">
              <ion-label>Sign Up</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-card>
        <ion-item class="ion-margin-top">
          <ion-input type="email" name="email" placeholder="UserName"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-top">
          <ion-input type="email" name="email" placeholder="Password"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-label>Remember Me!</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Forget Password ?</ion-label>
          </ion-col>
        </ion-row>
      </div>
    </ng-template>
  </ion-modal>
</div>