<ion-toolbar>

  <ion-item lines="none">
    <ion-icon slot="end" name="home"></ion-icon>
    <ion-label style="color: grey; font-weight: 800; display: flex">RATING</ion-label>
  </ion-item>
</ion-toolbar>
<ion-content>
  <div id="productCard" class="ion-no-padding">
    <ion-row>
      <ion-col>
        <div class="imgwrap">
          <img [src]="gotit.src" />
        </div>
      </ion-col>
      <ion-col style="margin-top: 5rem; padding-left: 20px; font-size: 2rem">
        <div class="fortext">
          <div class="progWrap">
            <div class="current">&nbsp;{{gotit.evnRating}} <span> /10</span>&nbsp;</div>
            <round-progress class="progressBar" [color]="'#015557'" [background]="'#ECF1FF'" [current]="gotit.evnRating"
              [max]="10" [radius]="145" [stroke]="20" [rounded]="true" [clockwise]="false" [responsive]="false"
              [duration]="1000" [animation]="'easeInOutQuart'" [animationDelay]="0">
            </round-progress>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-card-content>
      <ion-item lines="none">
        <ion-label class="productTitle ion-no-margin">
          <b>{{ gotit.product }}</b> <br /><span>{{ gotit.category }}</span>
        </ion-label>
        <!-- <ion-button >
          <ion-label slot="end" *ngIf="isValid">
            <ion-icon name="star" (click)="onClick()"></ion-icon>{{ gotit.rating }}
          </ion-label>
        </ion-button> -->
        <ion-buttons slot="end" style="color: #75807d;" (click)="onClick()">
          <ion-button style="font-size: 1rem;">
            <ion-icon style="font-size: 1rem;" name="star"></ion-icon>{{ gotit.rating }}
          </ion-button>
        </ion-buttons>


      </ion-item>
      <ion-item lines="none">
        <ion-label> <b>{{gotit.type}}&nbsp;:</b> &nbsp; <span>{{ gotit.Ingredients }}</span> </ion-label>
      </ion-item>
      <ion-item class="ion-align-self-center" lines="none"
        style="display: flex; align-items: center; justify-content: center;  ">
        <ion-label>
          <b>MarketPlace&nbsp;:</b> &nbsp;
          <a href="https://www.tesco.com/"><img src="../../assets/images/Tesco_Logo.png" width="50px" height="25px"
              alt=""></a>
          &nbsp;&nbsp;
          <a href="https://www.aldi.us/"><img src="../../assets/images/ALDI_2017.png" width="50px" height="25px"
              alt=""></a>
        </ion-label>
      </ion-item>

      <div class="chipWrap">
        <div class="fortext">
          <div class="progWrap">
            <div class="current">{{ gotit.global }}</div>
            <round-progress [color]="'#015557'" [background]="'#ECF1FF'" [current]="gotit.global" [max]="5"
              [radius]="125" [stroke]="20" [rounded]="true" [clockwise]="false" [responsive]="false" [duration]="800"
              [animation]="'easeInOutQuart'" [animationDelay]="0">
            </round-progress>
          </div>
          <h5 style="text-align: center">Global<br />Index</h5>
        </div>
        <div class="fortext">
          <div class="progWrap">
            <div class="current">{{ gotit.global }}</div>
            <round-progress [color]="'#015557'" [background]="'#ECF1FF'" [current]="gotit.local" [max]="5"
              [radius]="125" [stroke]="20" [rounded]="true" [clockwise]="false" [responsive]="false" [duration]="800"
              [animation]="'easeInOutQuart'" [animationDelay]="0">
            </round-progress>
          </div>
          <h5 style="text-align: center">Local<br />Index</h5>
        </div>
        <div class="fortext">
          <div class="progWrap">
            <div class="current">{{ gotit.lifestyle }}</div>
            <round-progress [color]="'#015557'" [background]="'#ECF1FF'" [current]="gotit.lifestyle" [max]="5"
              [radius]="125" [stroke]="20" [rounded]="true" [clockwise]="false" [responsive]="false" [duration]="800"
              [animation]="'easeInOutQuart'" [animationDelay]="0">
            </round-progress>
          </div>
          <h6 style="text-align: center">Your Lifestyle<br />Rate</h6>
        </div>
      </div>
      <div class="chipContainer">
        <ion-chip class="chip1" color="danger" (click)="onProduct()">
          <ion-label>Nudges</ion-label>
        </ion-chip>
        <ion-chip class="chip2" color="danger" (click)="onSecondProduct()">
          <ion-label>Wink</ion-label>
        </ion-chip>
        <ion-chip class="chip3" color="danger" (click)="onThirdProduct()">
          <ion-label>Nod</ion-label>
        </ion-chip>
        <ion-chip class="chip4" color="danger">
          <ion-label>Push</ion-label>
        </ion-chip>
      </div>


      <div *ngIf="isProduct">
        <h4 style="margin-left: 1rem; margin-top: 1.5rem;">Top Most Related <b>{{gotit.category}} </b>products are here
          !</h4>
        <ion-card>
          <ion-row class="ion-align-items-center ion-no-margin ion-padding">
            <ion-col style="font-size: 1rem; font-weight: 800;"><b>{{ gotit.nudge[1].name}}</b><br>
              <b>Price :</b> &nbsp;&nbsp;$ {{gotit.nudge[2].price}}
            </ion-col>
            <ion-col><img width="100%" height="156px" [src]="gotit.nudge[0].src" class="imgprop" /></ion-col>
          </ion-row>
        </ion-card>
      </div>

      <div *ngIf="isSecondProduct">
        <h4 style="margin-left: 1rem; margin-top: 1.5rem;">
          Products related to this item
        </h4>
        <ion-card>
          <ion-row class="ion-align-items-center ion-no-margin ion-padding">
            <ion-col class="ion-align-self-center" style="font-size: 1rem; font-weight: 800;"><b>{{ gotit.wink[1].name}}
              </b><br>
              <b>Price :</b> &nbsp;&nbsp;$ {{ gotit.wink[2].price}}
            </ion-col>
            <ion-col><img width="100%" height="156px" [src]="gotit.wink[0].src" class="imgprop" /></ion-col>
          </ion-row>
        </ion-card>
      </div>
      <div *ngIf="isThirdProduct">
        <h4 style="margin-left: 1rem; margin-top: 1.5rem;">
          <!-- <b>{{gotit.category}} </b>  -->
          Top reviews from <b>Country</b>
        </h4>
        <ion-card class="ion-padding">
          <ion-row style="text-align: center;">
            <ion-col style="font-size: 1rem; margin-top: 0rem; font-weight: 800 !important; margin-right:2rem">
              <ion-icon style="font-size: 3rem; color: gold;" name="thumbs-up"></ion-icon><br />
              <b>"Congratulations and best wishes for your next adventure!" <br>
                “Heartfelt congratulations to you.”</b>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
      <ion-grid [hidden]="!isValid">
        <ion-row>
          <ion-col class="rating">
            <div>
              <h1>{{gotit.rating}}<span> / 5</span></h1>
              <ion-item lines="none">
                <ion-icon [name]="star1"></ion-icon>
                <ion-icon [name]="star2"></ion-icon>
                <ion-icon [name]="star3"></ion-icon>
                <ion-icon [name]="star4"></ion-icon>
                <ion-icon [name]="star5"></ion-icon>
              </ion-item>
            </div>
          </ion-col>
          <ion-col>
            <div class="wrap">
              <div class="prog">
                <p style="padding-right: 10px">5 star</p>
                <ion-progress-bar [value]="gotit.percent[0].star5"></ion-progress-bar>
              </div>

              <div class="prog">
                <p style="padding-right: 10px">4 star</p>
                <ion-progress-bar [value]="gotit.percent[1].star4"></ion-progress-bar>
              </div>

              <div class="prog">
                <p style="padding-right: 10px">3 star</p>
                <ion-progress-bar [value]="gotit.percent[2].star3"></ion-progress-bar>
              </div>

              <div class="prog">
                <p style="padding-right: 10px">2 star</p>
                <ion-progress-bar [value]="gotit.percent[3].star2"></ion-progress-bar>
              </div>

              <div class="prog">
                <p style="padding-right: 10px">1 star</p>
                <ion-progress-bar [value]="gotit.percent[4].star1"></ion-progress-bar>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </div>
</ion-content>