<div class="ion-margin-top" style="margin-top: 1rem;">
  <h4 style="display: flex; justify-content: center; text-align: center;"><b>Madison, WI</b>
  </h4>
  <ion-card-subtitle style="display: flex; justify-content: center; text-align: center;">Destination
  </ion-card-subtitle>
</div>


<ion-content>
  <div style="padding: 2rem;">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bio Diversity <span class="indexValue">5</span></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-progress-bar color="success" value="0.3"></ion-progress-bar>
      </ion-card-content>
    </ion-card>
    <div>
      <ion-list-header style="color: #015557;">Follow us on Twitter</ion-list-header>
      <ion-list-header>Ionic is a complete open-source SDK for hybrid mobile app development created by Max Lynch, Ben
        Sperry, and Adam Bradley of Drifty Co. in 2013. </ion-list-header>
      <ion-list-header style="color: #015557;">Follow us on Twitter</ion-list-header>
      <ion-list-header>Ionic is a complete open-source SDK for hybrid mobile app development created by Max Lynch, Ben
        Sperry, and Adam Bradley of Drifty Co. in 2013.
        The original version was released in 2013 and built on top of
        AngularJS and Apache Cordova. </ion-list-header>
    </div>
  </div>
  <div style="background-color: #015557; padding: 2rem;">
    <ion-list-header style="color: #fff !important;">Ionic is a complete open-source SDK for
      hybrid mobile app
      development created by Max Lynch, Ben
      Sperry, and Adam Bradley of Drifty Co. in 2013. </ion-list-header>
    <ion-list-header style="color: #fff !important;" class="ion-margin-top">Ionic is a complete open-source SDK for
      hybrid mobile app
      development created by Max Lynch, Ben
      Sperry, and Adam Bradley of Drifty Co. in 2013. The original version was released in 2013 and built on top of
      AngularJS and Apache Cordova. </ion-list-header>
  </div>
  <div class="ion-margin-top">
    <h4 style="float:right !important;">Madison, WI
    </h4>
  </div>

</ion-content>